<div ng-controller="Tiempo">
    <div class="row">
      <div class="col-md-12">
        <h4>Mostrar Hora</h4>

        <div class="field">
            <label>Hora actual: {{time}}</label>
        </div>

      </div>

    </div>

    <div class="row">
      <div class="col-md-5">
        <h4>Slots Azul (Si)</h4>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="tablero.modo" btn-radio="'0'">Dato</label>
            <label class="btn btn-primary" ng-model="tablero.modo" btn-radio="1">Temperatura</label>
            <label class="btn btn-primary" ng-model="tablero.modo" btn-radio="2">Humedad</label>
        </div>
        <div ng-if="availableSlotIzquierdo()">
          <input class="form-control" type="text" maxlength="3" ng-model="tablero.si" value="{{tablero.si}}">
        </div>
      </div>
      <div class="col-md-4">
        <h4>Flechas</h4>
        <div class="btn-group">
            <label class="btn btn-info" ng-model="tablero.ud" btn-radio="'U'">Up</label>
            <label class="btn btn-info"  ng-model="tablero.ud" btn-radio="'D'">Down</label>
            <label class="btn btn-info"    ng-model="tablero.ud" btn-radio="' '">Vacio</label>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <a href="#" class="ui button" ng-click="display()">Mostrar</a>
        <a href="#" class="ui button" ng-click="stop()">Parar</a>
      </div>

    </div>
</div>
