<div ng-controller="Partidor">
  <h4>Selecciona el archivo del partidor</h4>

    <div class="field">
        <label>Intervalo: (segundos )</label>
        <input type="text" ng-model="timeInterval" value="{{timeInterval}}" ng-change="assignTime()">
    </div>

    <input type="file" on-read-file="showContent($fileContent)" />
    <div ng-if="listReady()">
       <table class="table">
           <tr>
               <th>Nº</th>
               <th>Inicio</th>
           </tr>
           <tr ng-repeat="item in motos">
               <td>{{item.nro}}</td>
               <td>{{item.time | HMMSS}} </td>
           </tr>
       </table>

       <a class="ui button" ng-click="largar()">Largar</a>
       <a class="ui button" ng-click="stop()">Stop</a>
    </div>
</div>
