<div class="row">
  <div class="col-md-5">
    <h4>Slots Azul (Si)</h4>
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="tablero.modo" btn-radio="'0'">Dato</label>
        <label class="btn btn-primary" ng-model="tablero.modo" btn-radio="1">Temperatura</label>
        <label class="btn btn-primary" ng-model="tablero.modo" btn-radio="2">Humedad</label>
    </div>
    <div ng-if="availableSlotIzquierdo()">
      <input class="form-control" type="text" maxlength="3" ng-model="tablero.si" value="{{tablero.si}}">
    </div>
  </div>
  <div class="col-md-4">
    <h4>Flechas</h4>
    <div class="btn-group">
        <label class="btn btn-info" ng-model="tablero.ud" btn-radio="'U'">Up</label>
        <label class="btn btn-info"  ng-model="tablero.ud" btn-radio="'D'">Down</label>
        <label class="btn btn-info"    ng-model="tablero.ud" btn-radio="' '">Vacio</label>
    </div>
  </div>

  <div class="col-md-3">
    <h4>Puntos</h4>
    <div class="btn-group">
        <label class="btn btn-info" ng-model="tablero.puntos" btn-radio="0"> - </label>
        <label class="btn btn-info"  ng-model="tablero.puntos" btn-radio="1">m:s</label>
        <label class="btn btn-info"    ng-model="tablero.puntos" btn-radio="2">h:m:s</label>
    </div>
  </div>

</div>
<hr>
<div class="row">
  <div class="col-md-10">
    <h4>Slot Rojo</h4>
    <input type="text" class="form-control"  maxlength="5" ng-model="tablero.sd" value="{{tablero.sd}}">
  </div>
</div>
