<div ng-controller="Settings">
  {{sever}}
  <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Servidor</label>
            <input type="text" class="form-control" ng-model="server" value="{{sever}}">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label>Ip</label>
            <input type="text" class="form-control" ng-model="ip" value="{{ip}}">
          </div>  
        </div>
  </div>

  <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-default btn-large" ng-click="changeServer()"> Guardar </button>
      </div>
  </div>

</div>
