<!DOCTYPE html>
<html ng-app="TabaApp">
  <head>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" sizes="196x196" href="assets/img/icon-196x196.png">

    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/jquery/dist/jquery.min.js"></script>
    <script src="/assets/js/angular.min.js"></script>
    <script src="/assets/js/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/assets/js/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/assets/js/angular-rangeslider/angular.rangeSlider.js"></script>

    <script src="app/components/socketio/socketio-provider.js"></script>
    <script src="app/app.js"></script>

    <link rel="stylesheet" href="assets/semantic.css">
    <link rel="stylesheet" href="assets/css/theme.css">
    <link rel="stylesheet" href="assets/js/angular-rangeslider/angular.rangeSlider.css">
    <link rel="stylesheet" href="assets/js/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="assets/js/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/js/bootstrap/dist/css/bootstrap-theme.min.css">
  </head>
  <body>

    <div class="stage main" ng-controller="AppManager">
      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <div class="visible-xs">
            <div range-slider min="0" max="9" model-max="master.intencidad" pin-handle="min" showValues></div>
          </div>
          <div class="hidden-xs">
            <div range-slider orientation="vertical" min="0" max="9" model-max="master.intencidad" pin-handle="min" showValues></div>
          </div>

        </div>
        <div class="col-xs-12 col-sm-10">
          <div class="ui panel">
            <div class="display" led-display model="outPutLed"></div>
          </div>

          <div class="ui list">
          </div>
          <tabset>
            <tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled" select="activateTab(tab)">
              <tab-heading>
                <div class="item ui icon header">
                  <i class="{{tab.icon}}"></i>
                  <div class="content">
                    {{tab.title}}
                    <div class="sub header">{{tab.subtitle}}</div>
                  </div>
                </div>
              </tab-heading>
              <ng-if="tab.tpl">
                <div ng-include="tab.tpl"></div>
              </ng-if>
            </tab>
          </tabset>
        </div>
      </div>

    </div>


<!--
    <div class="full height modo_comando" style="padding:2em">

        <div class="header segment">
            <div class="container">
                <h1 class="ui header">Modo comando</h1>
            </div>
        </div>

        <form class="ui form" ng-submit="parse()" ng-controller="Comando">
            <div class="two fields">
                <div class="field">
                    <label>Intencidad</label>
                    <input type="range" min="0" max="9" step="1" value="{{tablero.intencidad}}" ng-model="tablero.intencidad" ng-change="parse()"/>
                </div>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Modo</label>
                            <input type="radio" value="0" ng-model="tablero.modo" ng-change="parse()"> Pc

                            <input type="radio" value="1" ng-model="tablero.modo" ng-change="parse()"> Pc + T

                            <input type="radio" value="2" ng-model="tablero.modo" ng-change="parse()"> Pc + H
                        </div>
                        <div class="field">
                            <label>Puntos</label>
                            <input type="radio" value="0" ng-model="tablero.puntos" ng-change="parse()"> Sin puntos

                            <input type="radio" value="1" ng-model="tablero.puntos" ng-change="parse()"> m:s

                            <input type="radio" value="2" ng-model="tablero.puntos" ng-change="parse()"> h:m:s
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="two wide field">
                    <label>Slot Izquierdo</label>
                    <input type="text" maxlength="3" ng-model="tablero.si" value="{{tablero.si}}" ng-change="parse()">
                </div>
                <div class="four wide field">
                    <label>Flecha</label>
                    <input type="radio" value="U" ng-model="tablero.ud" ng-change="parse()"> Arriba
                    <input type="radio" value="D" ng-model="tablero.ud" ng-change="parse()"> Abajo
                    <input type="radio" value="-" ng-model="tablero.ud" ng-change="parse()"> No seteada
                </div>
                <div class="four wide field">
                     <label>Slot Derecho</label>
                    <input type="text" maxlength="5" ng-model="tablero.sd" value="{{tablero.sd}}" ng-change="parse()">
                </div>
            </div>
            <input type="submit" value="Ejecutar">
        </form>
    </div>

    <div class="full height modo_crono" style="padding:2em">

        <div class="header segment">
            <div class="container">
                <h1 class="ui header">Modo Marquesina</h1>
            </div>
        </div>

        <form class="ui form" ng-submit="parse()" ng-controller="Marquesina">



            <div class="field">
                <label>Intencidad</label>
                <input type="range" min="0" max="9" step="1" value="{{tablero.intencidad}}" ng-model="tablero.intencidad" />
            </div>
            <div class="field">
                <label>Modo</label>
                <input type="radio" value="0" ng-model="tablero.modo" ng-change="parse()"> Pc

                <input type="radio" value="1" ng-model="tablero.modo" ng-change="parse()"> Pc + T

                <input type="radio" value="2" ng-model="tablero.modo" ng-change="parse()"> Pc + H
            </div>

            <div class="fields">
                <div class="six wide field">
                    <label>Texto</label>
                    <input type="text" ng-model="tablero.sd" value="{{tablero.sd}}">
                </div>

            </div>

            <input type="submit" value="Ejecutar">
        </form>
    </div>


    <div class="full height modo_crono" style="padding:2em">

        <div class="header segment">
            <div class="container">
                <h1 class="ui header">Partidor</h1>
            </div>
        </div>


    </div>

    <a class="ui button" ng-click="stopAll()">Detener todo</a>
-->
  </body>
</html>
