@import 'taba/mixins';
@import 'crono/clean';

body {
  background: url($bg-image)
}

div.ngrs-value-runner > div.ngrs-value {
	  display: block !important;
  font-size: 2em;
  line-height: 1em;
  color: #2868A0;;
}



//@media only screen and (max-width: 800px) {
	.ui.icon.header {
		font-size:0.9em;
		.content {
			display:none;
		}
	}

//}

@media only screen and (min-width: 800px) {
  .ui.icon.header {
    font-size:1.15em;

    .content {
			display:block;
		}
  }
}
